@import url('https://fonts.googleapis.com/css?family=Montserrat');

.container {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
  "a a a b"
  "c c d d"
}

.movie-container {
  grid-area: c;

}
.tv-container {
  grid-area: d;
}

.music-container {
  grid-area: b;
}

.small-container {
  border-radius: 10px;
  overflow-x: scroll;
  overflow-y: hidden;
  background-color: #FFFFFF;
  padding: 0px 40px 20px 40px;
}

.titles {
  font-family: ‘Montserrat’, sans-serif;
  font-weight: 200;
  color: #808080;
}

.summary {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #3376E8;
  border-radius: 10px;
  grid-area: a;
  padding: 0px 40px 0px 40px;
  width: 90%;
  color: #FFFFFF;
}