.card {
  align-items: center;
  background-color: #FFFFFF;
  border-bottom: 2px solid #F5F5F5;
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 10px;
  padding-top: 5px;
  width: 100%;
}

.disabled {
  align-items: center;
  background-color: #F5F5F5;
  border-bottom: 2px solid #F5F5F5;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 10px;
  padding-top: 5px;
  width: 100%;
}

.done {
  border: none;
  border: 1px solid #F3A547;
  border-radius: 10px;
  color: #666666;
  cursor: pointer;
}

.done:hover {
  background-color: #3376E8;
  border-color: #3376E8;
  color: #FFFFFF
}

.done-disabled{
  background-color: lightgrey;
  border: none;
  border: 1px solid #F3A547;
  border-radius: 10px;
  color: #666666;
}

.link-disabled {
  color: #666666;
  line-height: 5px;
  text-decoration: none;
}

.link {
  color: #3376E8;
  line-height: 5px;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}