@import url('https://fonts.googleapis.com/css?family=Montserrat');

h1 {
  font-family: ‘Montserrat’, sans-serif;
  font-weight: 300;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.active {
  color: #3376E8;
  text-decoration: underline;
}

.mission-link {
  margin-top: 20px;
  text-decoration: none;
}

.home-link {
  margin-top: 20px;
  text-decoration: none;
}

.App {
  background-color: #E5E8F4;
  margin: 0px 90px 0px 90px;
  text-align: center;
}


