@import url('https://fonts.googleapis.com/css?family=Montserrat');

h1 {
  font-family: ‘Montserrat’, sans-serif;
  font-weight: 300;
}

.App {
  text-align: center;
  margin: 0px 90px 0px 90px;
  background-color: #E5E8F4;
}


